<div class='container template background'>
  <div class='transbox'>
    <div class='row'>
    <div class='col-sm-4 shop'>
      <div class='entry'>
        test
      </div>
    </div>
    <div class='col-sm-4 shop'>
        <div class='entry'> 
          test
        </div>
    </div>
    <div class='col-sm-4 shop'>
      <div class='entry'>
        test
      </div>
    </div>
    </div>
  </div>
</div>

