<div class='container template background'>
  <div id='subheader'>
    Do shoping from the city you love from the shop you love!
  </div>
  <form action='/shop' class="form-horizontal" role="form" method='post'>
  <div class='transbox'>
      <div class='form-group'>
        <div class='col-sm-6'> 
        <select name='city' class="form-control">
          <option disabled="disabled">City</option>
          <option>Agra</option>
          <option>Chandigarh</option>
          <option>Ludhiana</option>
          <option>Lucknow</option>
          <option>Kanpur</option>
        </select>
        </div>
        <div class='form-group'>
        <div class='col-sm-6'> 
        <select name='category' class="form-control">
          <option disabled="disabled">Category</option>
          <option>Clothing</option>
          <option>Footwear</option>
          <option>Bags, Belts, Wallet</option>
          <option>Leather Jackets/jackets</option>
          <option></option>
        </select>
        </div>
      </div>
      <div class='col-sm-2'>
       <button>Go to Market!</button>
      </div>
    </form>
  </div>
</div>
